.logo {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    display: block;
  }

  .nav-container{
    border-bottom: 1px solid #000;  
    border-top: 1px solid #000;  
  }